<div class="flex w-full p-4 border items-start rounded-xl border-base-content/50 hover:bg-base-200 gap-6 hover:scale-101 hover:shadow duration-200 transition-all" id="<%= dom_id(url) %>">
  <div class="flex flex-col flex-1 w-0 gap-1">
    <div class="flex gap-2 items-center">
      <%= link_to "#{request.host_with_port}/#{url.short_code}", "#{request.base_url}/#{url.short_code}", class: "hover:underline cursor-alias", target: "_blank" %>
      <div>
        <%= lucide_icon("copy", class: "cursor-pointer", onclick: "navigator.clipboard.writeText('#{request.base_url}/#{url.short_code}')", size:16) %>
      </div>
    </div>
    <div class="flex items-center gap-2">
      <div>
        <%= lucide_icon("corner-down-right", class: "stroke-base-content/50", size:14) %>
      </div>
      <%= link_to url.target_url, url.target_url, class: "text-xs text-base-content/50 hover:underline cursor-alias truncate", target: "_blank" %>
    </div>
    <div class="flex items-center gap-2">
      <div>
        <%= lucide_icon("calendar", class: "stroke-base-content/50", size:14) %>
      </div>
      <span class="text-xs text-base-content/50"><%= url.created_at.strftime("%b %d, %Y") %></span>
    </div>
  </div>
  <div class="gap-2 hidden md:flex">
    <%= link_to lucide_icon("external-link", size:16) + " Visit" , url.short_code, class: "btn btn-neutral btn-sm", target: "_blank" %>
    <%= link_to lucide_icon("chart-no-axes-column", size:16) + " Usage" , url_path(url.short_code), class: "btn btn-primary btn-sm" %>
  </div>
  <div class="dropdown dropdown-end md:hidden">
    <div tabindex="0" role="button" class="btn btn-ghost">
      <%= lucide_icon("more-vertical", size:16) %>
    </div>
    <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 p-2 shadow-sm">
      <li><%= link_to lucide_icon("external-link", size:16) + " Visit" , url.short_code, target: "_blank" %></li>
      <li><%= link_to lucide_icon("chart-no-axes-column", size:16) + " Usage" , url_path(url.short_code) %></li>
    </ul>
  </div>
</div>