<div class="flex flex-col gap-2">
  <div class="flex justify-between items-center gap-2">
    <div class="flex items-center gap-2 overflow-hidden">
      <h2 class="text-primary text-2xl font-bold break-all"><%= short_url(url) %></h2>
      <div>
        <%= lucide_icon("copy", class: "cursor-pointer duration-200 stroke-primary", size:16, data: { action: "click->clipboard#copy click->toast#show", clipboard_text_param: short_url(url), toast_message_param: "ℹ️ Copied #{short_url(url)}" }) %>
      </div>
    </div>
    <%= link_to lucide_icon("external-link", size:16) + " Visit" , short_url(url, with_protocol: true), class: "btn btn-neutral", target: "_blank" %>
  </div>
  <div class="flex items-center gap-2">
    <div>
      <%= lucide_icon("corner-down-right", class: "stroke-base-content/50", size:16) %>
    </div>
    <%= link_to url.target_url, url.target_url, class: "text-base-content/50 hover:underline cursor-alias break-all", target: "_blank" %>
  </div>
</div>
<div class="divider my-2"></div>
<div class="flex flex-col gap-2">
  <% if url.title.present? %>
    <div class="flex items-center gap-2">
      <div>
        <%= lucide_icon("file-text", class: "stroke-base-content/50", size:16) %>
      </div>
      <span class="text-base-content/50"><%= url.title %></span>
    </div>
  <% end %>
  <div class="flex items-center gap-2">
    <div>
      <%= lucide_icon("calendar", class: "stroke-base-content/50", size:16) %>
    </div>
    <span class="text-base-content/50"><%= url.created_at.strftime("%b %d, %Y") %></span>
  </div>
  <div class="flex items-center gap-2">
    <div>
      <%= lucide_icon("mouse-pointer-click", class: "stroke-base-content/50", size:16) %>
    </div>
    <span class="text-base-content/50" id="visit_count"><%= url.visits.count %> clicks</span>
  </div>
</div>