<div class="bg-base-300 flex flex-col space-y-8 py-12 px-4 items-center">
  <div class="card bg-base-100 shadow-2xl max-w-3xl w-full">
    <div class="card-body">
      <h2 class="card-title text-2xl font-bold mb-6">Create Short Link</h2>
      <%= form_with model: @url do |form| %>
        <% if @url.errors.any? %>
          <div class="alert alert-error mb-4">
            <div>
              <h3 class="font-bold"><%= pluralize(@url.errors.count, "error") %> prohibited this URL:</h3>
              <ul>
                <% @url.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <div class="form-control w-full mb-6">
          <%= form.label :target_url, "Target URL", class: "label" %>
          <%= form.url_field :target_url, 
            placeholder: "https://example.com", 
            class: "input input-bordered w-full placeholder-opacity-50",
            required: true %>
          <label class="label">
            <span class="label-text-alt text-xs">Include http:// or https://</span>
          </label>
        </div>
        <div class="form-control">
          <%= form.submit "Create Short Link", class: "btn btn-primary w-full" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card bg-base-100 shadow-2xl max-w-3xl w-full">
    <div class="card-body space-y-6">
      <h2 class="card-title text-2xl font-bold">
        Recent links
      </h2>
      <div class="h-64 overflow-auto flex flex-col gap-4">
        <% @urls.each do |url| %>
          <div class="flex w-full justify-between items-center p-4 border rounded-xl border-neutral-content hover:bg-base-200 hover:cursor-pointer transition-colors">
            <div class="flex flex-col">
              <span class="text-sm font-medium"><%= request.host_with_port %>/<%= url.short_code %></span>
              <span class="text-base-content/50 text-xs"><%= url.target_url %></span>
            </div>
            <div class="flex gap-2">
              <%= link_to "Visit", url.short_code, class: "btn btn-neutral btn-sm", target: "_blank" %>
              <%= link_to "Info", url_path(url.short_code), class: "btn btn-primary btn-sm" %>
            </div>
          </div>
        <% end %>
        <div>
        </div>
      </div>
    </div>
